@model UniversitySystemManagement.Models.Department

@*
    This view uses HTML Helpers instead of Tag Helpers
    HTML Helpers: C# methods like @Html.LabelFor(), @Html.EditorFor(), @Html.BeginForm()
    Tag Helpers: HTML-like attributes like asp-for, asp-action (used in other controllers)
*@

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @* Html.BeginForm() replaces <form asp-action="Create"> *@
        @using (Html.BeginForm("Create", "Departments", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @* Html.ValidationSummary() replaces <div asp-validation-summary> *@
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @* Html.LabelFor() replaces <label asp-for="Name"> *@
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })

                @* Html.EditorFor() replaces <input asp-for="Name"> *@
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })

                @* Html.ValidationMessageFor() replaces <span asp-validation-for="Name"> *@
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @* Html.ActionLink() replaces <a asp-action="Index"> *@
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
